<html xmlns:th="https://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="login.css">
    <title>Sign in</title>
</head>

<body>
<div class="form">
    <div class="form-toggle"></div>
    <div class="form-panel one">
        <div class="form-header">
            <h1>Welcome to <br> Printable Digital Works</h1>
            <h2>Account Login</h2>
        </div>
        <div class="form-content">
            <form action="#" th:action="@{/submit-login}" th:object="${userCredentials}" method="post">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" th:field="*{userName}" id="username" name="username" required="required"/>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" th:field="*{password}" id="password" name="password" required="required"/>
                </div>
                <div class="form-group">
                    <label class="form-remember">
                        <input type="checkbox"/>Remember Me
                    </label><a class="form-recovery" href="#">Forgot Password?</a>
                </div>
                <div class="form-group">
                    <button type="submit">Log In</button>
                </div>
            </form>
        </div>
    </div>

    <div class="form-panel two">
        <div class="form-header">
            <h1>Register Account</h1>
        </div>
        <div class="form-content">
            <form action="#" th:action="@{/register-account}" th:object="${registrationDTO}" method="post" >
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" th:field="*{userName}" id="usernameRegister" name="username" required="required"/>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" th:field="*{password}" id="passwordRegister" name="password" required="required"/>
                </div>
                <div class="form-group">
                    <label for="cpassword">Confirm Password</label>
                    <input type="password" th:field="*{confirmationPassword}" id="cpassword" name="cpassword" required="required"/>
                </div>
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" th:field="*{email}" id="email" name="email" required="required"/>
                </div>
                <div class="form-group">
                    <button type="submit" value="Submit">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="login.js"></script>

</body>

</html>

