<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="main-landing-page.css">
    <link rel="stylesheet" href="navigation-bar.css">
    <title>CASBCK Printable Digital Works</title>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <!-- links for the search bar -->
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>


<body>

<div class="svg-container">
    <!-- I crated SVG with: https://codepen.io/anthonydugois/pen/mewdyZ -->
    <svg viewbox="0 0 800 400" class="svg">
        <path id="curve" fill="#50c6d8" d="M 800 300 Q 400 350 0 300 L 0 0 L 800 0 L 800 300 Z">
        </path>
    </svg>
</div>

<header>
    <h1>Printable  Digital  Works</h1>
    <h3>Your vision. Your place.</h3>
</header>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css"/>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/style.css">




<section class="portfolio" id="portfolio">

    <div class="container-fluid">
        <div class="row">

            <section></section>

            <!-- navigation bar -->
            <nav>
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Cart</a>
                <a href="#">Wishlist</a>
                <a href="#">Profile</a>
                <div class="animation start-home"></div>
            </nav>

            <br>


            <section></section>
            <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1 class="gallery-title">Products</h1>
            </div>

            <!-- search bar -->
            <div class="search-container">
                <input type="text" name="search" placeholder="Search..." class="search-input">
                <a href="#" class="search-btn" style="text-align:center;">
                    <i class="fas fa-search"></i>
                </a>
            </div>
            <br><br>


            <div align="center">
                <button class="filter-button" data-filter="all">All</button>
                <button class="filter-button" data-filter="category1">Designing</button>
                <button class="filter-button" data-filter="category2">Development</button>
                <button class="filter-button" data-filter="category3">Graphics</button>
            </div>


            <div class="gallery_product col-sm-3 col-xs-6 filter category1">
                <a class="fancybox" rel="ligthbox" href="https://picsum.photos/400/250?image=122">
                    <img class="img-responsive" alt="" src="https://picsum.photos/400/250?image=122" />
                    <div class='img-info'>
                        <h4>Image Title 1</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </a>
            </div>

            <div class="gallery_product col-sm-3 col-xs-6 filter category2">
                <a class="fancybox" rel="ligthbox" href="https://picsum.photos/400/250?image=526">
                    <img class="img-responsive" alt="" src="https://picsum.photos/400/250?image=526" />
                    <div class='img-info'>
                        <h4>Image Title 2</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </a>
            </div>

            <div class="gallery_product col-sm-3 col-xs-6 filter category3">
                <a class="fancybox" rel="ligthbox" href="https://picsum.photos/400/250?image=626">
                    <img class="img-responsive" alt="" src="https://picsum.photos/400/250?image=626" />
                    <div class='img-info'>
                        <h4>Image Title 3</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </a>
            </div>

            <div class="gallery_product col-sm-3 col-xs-6 filter category1">
                <a class="fancybox" rel="ligthbox" href="https://picsum.photos/400/250?image=626">
                    <img class="img-responsive" alt="" src="https://picsum.photos/400/250?image=626" />
                    <div class='img-info'>
                        <h4>Image Title 4</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </a>
            </div>

            <div class="gallery_product col-sm-3 col-xs-6 filter category2">
                <a class="fancybox" rel="ligthbox" href="https://picsum.photos/400/250?image=486">
                    <img class="img-responsive" alt="" src="https://picsum.photos/400/250?image=486" />
                    <div class='img-info'>
                        <h4>Image Title 5</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </a>
            </div>

            <div class="gallery_product col-sm-3 col-xs-6 filter category3">
                <a class="fancybox" rel="ligthbox" href="https://picsum.photos/400/250?image=846">
                    <img class="img-responsive" alt="" src="https://picsum.photos/400/250?image=846" />
                    <div class='img-info'>
                        <h4>Image Title 6</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </a>
            </div>

            <div class="gallery_product col-sm-3 col-xs-6 filter category1">
                <a class="fancybox" rel="ligthbox" href="https://picsum.photos/400/250?image=1066">
                    <img class="img-responsive" alt="" src="https://picsum.photos/400/250?image=1066" />
                    <div class='img-info'>
                        <h4>Image Title 7</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </a>
            </div>

            <div class="gallery_product col-sm-3 col-xs-6 filter category2">
                <a class="fancybox" rel="ligthbox" href="https://picsum.photos/400/250?image=506">
                    <img class="img-responsive" alt="" src="https://picsum.photos/400/250?image=506" />
                    <div class='img-info'>
                        <h4>Image Title 8</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </a>
            </div>

            <div class="gallery_product col-sm-3 col-xs-6 filter category3">
                <a class="fancybox" rel="ligthbox" href="https://picsum.photos/400/250?image=1026">
                    <img class="img-responsive" alt="" src="https://picsum.photos/400/250?image=1026" />
                    <div class='img-info'>
                        <h4>Image Title 9</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </a>
            </div>

            <div class="gallery_product col-sm-3 col-xs-6 filter category1">
                <a class="fancybox" rel="ligthbox" href="https://picsum.photos/400/250?image=1077">
                    <img class="img-responsive" alt="" src="https://picsum.photos/400/250?image=1077" />
                    <div class='img-info'>
                        <h4>Image Title 10</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </a>
            </div>

            <div class="gallery_product col-sm-3 col-xs-6 filter category2">
                <a class="fancybox" rel="ligthbox" href="https://picsum.photos/400/250?image=102">
                    <img class="img-responsive" alt="" src="https://picsum.photos/400/250?image=102" />
                    <div class='img-info'>
                        <h4>Image Title 11</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </a>
            </div>

            <div class="gallery_product col-sm-3 col-xs-6 filter category3">
                <a class="fancybox" rel="ligthbox" href="https://picsum.photos/400/250?image=106">
                    <img class="img-responsive" alt="" src="https://picsum.photos/400/250?image=106" />
                    <div class='img-info'>
                        <h4>Image Title 12</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>

<main></main>

<!-- <script src="main-landing-page.js"></script> -->

<footer>
    <p>brought to you by the CASBCK team</p>
    <!--
    <p>And, the footer.</p>
    <small>🕷 Wish you luck, <a href="http://armantaherian.com">Arman</a>.</small>
    -->
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js"></script>
<script src="js/script.js"></script>

<script src="navigation-bar.js"></script>
</body>

</html>

